.main-container {
    font-family: "Roboto Mono", monospace;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxd_WYD-QrCZWXHS9wEhTQCxuJB59WU9o3IQ&usqp=CAU");
    background-size: 84px;
    background-color: #fff;
    margin: 80px;
  }

  
  
 
 
  